<nav class="bg-excla-red flex items-center justify-center">
    <ul class="flex space-x-8 text-2xl font-medium">
        <li>
            <a href="#" class="hover:bg-excla-darkred text-excla-offwhite"
                >Home</a
            >
        </li>
        <li>
            <a href="#" class="hover:bg-excla-darkred text-excla-offwhite"
                >Features</a
            >
        </li>
        <li>
            <a href="#" class="hover:bg-excla-darkred text-excla-offwhite"
                >Contact</a
            >
        </li>
        <li>
            <a href="#" class="hover:bg-excla-darkred text-excla-offwhite"
                >Dashboard</a
            >
        </li>
    </ul>
</nav>
